body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    /* vvv */
    padding: 0;
    /* vvv */
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

/* #region === Header === */

.header-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-header .container {
    align-items: center;
}

.nav-header {
    display: flex;
    align-items: center;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-style-header {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;

}

.nav-item {}

.nav-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link.current {
    position: relative;
}

.nav-item-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;

    background-color: #404bbf;
    border-radius: 2px;
}

.nav-item-link:hover,
.nav-item-link:focus,
.nav-item-link.current {
    color: #404bbf;
}

.address-header {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item-link {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.address-item-link:hover,
.address-item-link:focus {
    color: #404bbf;
}

/* #endregion Header */

/* #region === Hero === */
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.jpg);
    background-repeat: no-repeat;
    height: 600px;
    max-width: 1440px;
    display: flex;
    padding: 188px 0;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.hero-title {
    display: flex;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
    max-width: 496px;
}


.hero-btn {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    height: 56px;
    border: none;
    margin: 0 auto;
    min-width: 169px
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* #endregion  === Hero === */


/* #region === Section 1 "Advantages" === */

.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantages-list {
    display: flex;
    gap: 24px;

}

.advantages-list-item {
    width: 264px;
}

.advantages-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.logo-icon {
    /* width: 64px;
    height: 64px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

.logo-border {
    width: 64px;
    height: 64px;
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

/* #endregion  === Section 1 "Advantages" === */


/* #region === Section 2 "Team"  === */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-cont {
    padding: 32px 0
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px
}

.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.icon-list {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 32px;
}

.icon-item {
    width: 40px;
    height: 40px;
}


.icon-link {
    display: flex;
    gap: 24px;
    fill: none;
    stroke: #f4f4fd;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
}

.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}

.icon-socialmedia {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}

/* #endregion  === Section 2 "Team" === */


/* #region === Section 3 "Portfolio" === */



.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-item {
    /* position: relative; */
    cursor: pointer;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.portfolio-text-cont {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    /* padding: 32px 16px; */
    padding: 40px 32px;
    width: 360px;
    height: 120px;
}

.marketing-wrapper {
    position: relative;
    overflow: hidden;
}

.owerlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;

    padding: 32px;
    padding-top: 40px;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    background: #4d5ae5;

    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .owerlay {
    transform: translateY(0);

}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* #endregion  === Section 3 "Portfolio" === */


/* #region === Footer === */

.footer {
    display: flex;
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1440px;
    height: 312px;
    margin: auto;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;

}

.logo-style-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;

}


.footer-text {
    display: flex;
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    /* margin: 156px, auto; */
}

.footer .container {
    display: flex;
    margin-left: 156px;
    flex-direction: column;
    margin-right: 120px;
}

.footer-socmedia {}

.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.icon-footer:hover,
.icon-footer:focus {
    background-color: #31D0AA;
}

.icon-list {}

.icon-item {}

.icon-link {}

.icon-socialmedia {}

/* #endregion  === Footer === */